.advertise-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  
 
  
}

.diamond-advertise {
  width: 200px;
  height: 200px;
  background: linear-gradient(45deg, purple, blue);
  animation: strobe 1s infinite;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  display: flex;
}


@keyframes strobe {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

