button {
  color: white;
  display: inline-block;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.2;
  transform: 0.2s ease;
 

}
button:hover{
  transform: scale(1.05);
}

.fa-arrow-right{
  margin-left: 0.25rem;
}
