header {
  background: none;
  align-items: center;
  display: flex;
  justify-content: center;
  
}
h3 {
  font-size: 22px;
  letter-spacing: 0.90px;
  color:whitesmoke;
  margin-right: 30px;
  
}
.nav-bar{
  display: flex;
  justify-content: center;
  
 
}
.nav-bar {
  margin-top: 40px;

}

.nav-bar ul{
  display: flex;
  align-items: center;
  margin-left: 50px;
}


.nav-bar a{
  color: white;

}

.nav-bar li:not(:last-child) a:hover {
  color: #0055d4; 

}


.nav-bar li {
  list-style: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 60px;
  align-items: center;

}
li:last-child {
  transition: text-decoration 0.7s;
}

li:last-child:hover {
  text-decoration: underline; 
  text-decoration-color: #0055d4;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

li a {
  text-decoration: none;
}





@media (max-width: 600px) {
  .nav-bar ul {
    margin-left: 10px;
  }
}