header {
  background: none;
  align-items: center;
  display: flex;
}
h3 {
  font-size: 19px;
  letter-spacing: 0.90px;
  color:whitesmoke;
  
}
nav{
  display: flex;
  justify-content: center;
 
}

.nav-bar ul{
  display: flex;
  
}

.nav-bar ul li{
  margin: 20px 50px;
  
 
  
}
.nav-bar a{
  color: white;

}

.nav-bar li:not(:last-child) a:hover {
  color: #0055d4; 

}

.nav-bar ul li{
  position: relative;
}

.nav-bar ul li:not(:last-child)::after{
  content: "";
  display: inline-block;
  width:0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent; 
  border-top: 5px solid white;
  margin-left: 5px; 
  vertical-align: middle;

}

.nav-bar li {
  list-style: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;

}
li a {
  text-decoration: none;
}
