header {
  background: none;
  align-items: center;
  display: flex;
  
}
h3 {
  font-size: 18px;
  letter-spacing: 0.90px;
  color:whitesmoke;
  
}
nav{
  display: flex;
  justify-content: center;
  
 
}
.nav-bar {
  margin-top: 40px;

}

.nav-bar ul{
  display: flex;
  
}


.nav-bar a{
  color: white;

}

.nav-bar li:not(:last-child) a:hover {
  color: #0055d4; 

}

.nav-bar ul li{
  position: relative;
  margin-right: 60px;
}

.nav-bar ul li:not(:last-child)::after{
  content: "";
  display: inline-block;
  width:0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent; 
  border-top: 5px solid white;
  margin-left: 5px; 
  vertical-align: middle;

}

.nav-bar li {
  list-style: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 60px;
  align-items: center;

}
li:last-child {
  transition: text-decoration 0.7s;
}

li:last-child:hover {
  text-decoration: underline; 
  text-decoration-color: #0055d4;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

li a {
  text-decoration: none;
}
