* {
  margin: 0;
  padding: 0;
}
body{
  font-family:WF Visual Sans Text, Arial, sans-serif;
  font-weight: 400;
  background-color:#080808;
  padding: 30px;
}
.container {
  max-width: 1500px;
  min-width: 320px;
  margin: 0 auto;
  
}


@media (max-width: 991px){
  body{
    padding: 10px;
  }
}
